@import "tailwindcss";

@theme {
    --color-blue-50: #CFFFDC;
    --color-blue-100: #A8E6C0;
    --color-blue-400: #68BA7F;
    --color-blue-500: #4DA064;
    --color-blue-600: #2E6F40;
    --color-blue-700: #255A33;
    --color-blue-900: #253D2C;
}

@layer utilities {
    .border-thin {
        border-width: 0.4px;
    }

    .ring-thin {
        box-shadow: 0 0 0 0.4px var(--tw-ring-color, currentColor);
    }
}